/*
*
*   Hoja de Estilo para todo el Sitio
*
*/
@import url("/ProyectoPHP/css/Bootstrap.css");
@import url("/ProyectoPHP/css/MDB.css");
@import url("/ProyectoPHP/css/FontAwesome.css");
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Montserrat|Raleway|Roboto+Mono');

/* Globales */
.hr-vertical{   
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         15px;
    width: 0;
    height: 0;
    background-color: white;    
    margin-top: 0;
    margin-bottom: 0; 
}
body::-webkit-scrollbar{
    width:10px;
    background-color:white;
}
body::-webkit-scrollbar-thumb
{
    background-color:gray;
    border-radius:10px;
}
.inner-addon { 
    position: relative; 
}
.inner-addon .fas {
    position: absolute;
    padding: 10px;
    /*pointer-events: none; Propiedad Mala para fas eye*/
  }
  .left-addon .fas  { left:  0px;}
  .left-addon input  { padding-left:  30px; }
  .right-addon .fas { right: 0px;}
  .right-addon input { padding-right: 30px; }

.FormValid{
    color: green;
}.FormInvalid{
    color: red;
}
.pl-4_5{
    padding-left: 2rem !important;
}

.w-85{
    width: 87%;
}
.m-4_5{
    margin: 2.0rem !important;
}

.bg-white2{
    background-color:#E8ECF8; 
}

.row{
    margin-right:0px;
}
/*
.panel{
    padding-left: 25%;
    padding-right: 25%;
    min-height: 325px;
}
*/
.Lato{
    font-family: 'Lato';
}

.clear-both{
    clear: both;
}

.text-align-center{
    text-align: center;
}

.p-15{
    padding-left: 20% !important;
    padding-right: 15% !important;
    min-height: 350px;
}

@media (min-width: 256px) and (max-width: 576px){
    #TheContainer{
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
  
}/* Declaracion sm */

@media (min-width: 576px) and (max-width: 768px){
    #TheContainer{
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
}/* Declaracion md*/

@media (min-width: 768px) {
.hr-vertical{
        height: 25px;
    }
    .col-xl-4{
        max-width: 30% !important;
    }
}/* Declaracion lg

@media (min-width: 992px){
.hr-vertical{
        height: 25px;
    }

}/* Declaracion xl*/








