@import url("/ProyectoPHP/css/StyleP.css");

body{
    background-color: #EAEAEA;
}

#SideBar{
    float: left;
    width: 19%;
    min-height:725px;
    height:auto;
    position: fixed;
    top:0;
    /*position: absolute;*/
}
.option-menu:hover{
    background-color: rgba(232, 232, 232, 0.4);
    cursor:pointer;
}
.option:hover{
    background-color: rgba(232, 232, 232, 0.5);
    cursor: pointer;
}

.Content{ 
    width: auto;
    margin-right: 0;
    padding-right: 0;
}
#Body{
    margin-left: 20%;
}
.row{
    margin-right:0px;
}

@media (min-width: 256px) and (max-width: 576px){

}/* Declaracion sm */

@media (min-width: 576px) and (max-width: 768px){

}/* Declaracion md*/

@media (min-width: 768px) and (max-width: 992px){

}/* Declaracion lg*/

@media (min-width: 992px){

}/* Declaracion xl*/






