@import url("/ProyectoPHP/css/StyleP.css");

body{
    background-color: #EAEAEA;
}

#SideBar{
    float: left;
    width: 19%;
    min-height:725px;
    height:100%;
    position: fixed;
    top:0;
    /*position: absolute;*/
}
.option-menu:hover{
    background-color: rgba(232, 232, 232, 0.4);
    cursor:pointer;
}
/*
.option:hover{
    background-color: rgba(232, 232, 232, 0.5);
    cursor: pointer;
}*/

.Content{ 
    width: auto;
    margin-right: 0;
    padding-right: 0;
}
#Body{
    margin-left: 22%;
    padding: 0;
}
.row{
    margin-right:0px;
}

@media (min-width: 256px) and (max-width: 768px){
    .txt{
        display: none;
    }
    .txt-head{
        padding-left: 12% !important;
    }
    .txt-head2{
        padding-left: 0% !important;
    }
    #Body{
        margin-left: 24%;
        margin-right: 2%;
    }
    .option-menu{
        width: 55px !important;
        height: 55px !important;
        padding-right: 10px;
        
    }
  
}/* Declaracion sm */

@media (min-width: 768px){

}/* Declaracion lg*/




